{% extends 'templates/template.twig' %}

{% block title %} All User {% endblock %}

{% block content %}
<div class="row">
	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th>No</th>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>E-Mail</th>
				<th>Option</th>
			</tr>
			{% for data in users %}
			{% set i = i + 1 %}
		    <tr class="text-center">
		    	<td>{{i}}</td>
		    	<td><a href="{{path_for('user')}}/{{data.id}}" title="{{data.username}}">{{data.username}}</a></td>
		    	<td>{{data.first_name}}</td>
		    	<td>{{data.last_name}}</td>
		    	<td>{{data.email}}</td>
		    	<td>
		    		<a href="{{path_for('user')}}/edit/{{data.id}}">Edit</a>
		    		<a class="text-danger" href="{{path_for('user')}}/del/{{data.id}}">Delete</a>
		    	</td>
		    </tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}